
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <title>E-Park</title>
 </head>
    <body>

            <% for (let [index, data] of Object.entries(slots) || []) { %>
                No.: <%=  data.slot_id; %>,
                qr_code: <%=  data.qr_code; %>,
                status: <%=  data.status; %>,
                <br>
            <% } %>
       
    </body>
 </html>
